<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de clientes</h5>
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th>Id</th>                  
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Fecha</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of clientes">
                  <th>{{item.id}}</th>    
                  <th>{{item.nombre}}</th>    
                  <th>{{item.apellido}}</th>    
                  <th>{{item.email}}</th>    
                  <th>{{item.createAt}}</th>    
              </tr>
          </tbody>
      </table>
    </div>
